header{
    background-color: #0A22F4;
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    
    
     
    
}


li, a {
    font-family: "Neue Helvetica";
    color: white;
    font-size: 15px;
    margin: 10px;
    
      
    
}


.navbar-link{
    display: flex;
    justify-content:space-around ;
 
    
}

.after::after{
    content:'';
    width: 0px;
    height: 3px;
    background-color: rgb(2, 208, 249);
    display: block;
    margin:auto
    
   
}

.after:hover::after{
    width: 50%;
    transition:  0.3s linear;
}

.after::after{
    color: coral;
}


.navbar-contact{
    background-color:white;
    color: #171717;
    padding: 10px 20px;
}



.parent{
    
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin-right: 250px; 
    flex-wrap:wrap;

}

.child1{
    width: 70px;
    height: 70px;
    background: #F9F9F9;
}

.child2{
    width: 70px;
    height: 70px;
    background: #0A22F4;
}

.child3{
    width: 70px;
    height: 70px;
    background: #F9F9F9;
}


h3{
    font-weight: bold;
    font-size:20px;
    margin-top: 150px;
    color:#171717;
    font-weight: bold;
}

p{
    font-family: "Neue Helvetica";
    font-size:15px;
    margin-top: 20px;
    color:#171717;
    line-height: 20px;
    
}

h3, p{
   
    width: 400px;
    
}

h2{
    color: #171717;
    font-size: 25px;
    font-weight: bold;
    margin:180px;
    width: 0px;
    height: 0%;
    
}

.center{
    display:flex;
    justify-content: space-between;
    
}

.dot1{
    width: 8px;
    height: 8px;
    background-color: #0A22F4;
    margin-right: 15px;
    border-radius: 50%;
    
    
}

.dot2{
    width: 8px;
    height: 8px;
    background-color: #0A22F4;
    margin-right: 15px;
    border-radius: 50%;
    opacity: 30%;
  
}

.dot3{
    width: 8px;
    height: 8px;
    background-color: #0A22F4;
    border-radius: 50%;
    opacity: 30%;


    
   
}

.dots{
   display: flex;
   margin:190px;
   justify-content: space-between;
   
   
}